<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rebecasarai.room">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nba_league_passlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nba_league_passlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AddTeamActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.EditTeamActivity"
            android:label="@string/title_activity_edit_team"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme"></activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".Activities.FragmentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activities.DetailsActivity">
        </activity>
    </application>

</manifest>